{% extends 'base.html.twig' %}

{% block body %}

    <h1>La liste</h1>


        <div>
            <h3>{{ Allquestion.question }}</h3>
            <p>{{ Allquestion.answer }}</p>
        </div>




{% endblock body %}