{% extends 'base.html.twig' %}

{% block body %}

    <h1>Tes listes</h1>

    <a href="{{ path('Makecards_page') }}">Creer une liste</a>

    <a href="{{ path('cards_page') }}">
        <div>
            <h2>Les arbres</h2>
        </div>
    </a>

{% endblock %}