{% extends 'base.html.twig' %}

{% block body %}

    <h1>Tes listes</h1>

    <a href="{{ path('NewTitle_page') }}">Nouvelles cartes</a>


    {% for title in titles  %}
    <a href="{{ path('mydetail_page', {'id': title.id }) }}">
        <div>
            <h2>{{ title.title| capitalize }}</h2>
        </div>
    </a>
    {% endfor  %}

{% endblock %}