{% extends 'base.html.twig' %}

{% block body %}

    <h1>Inscription</h1>

    Question <input type="text" name="" id="">
    Reponse <input type="text" name="" id="">



    <input type="submit" value="question suivante">
    <input type="submit" value="terminer">


{% endblock %}