{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mes listes</h1>

    <a href="{{ path('Addcards_page') }}">Ajouter une liste</a>

   <h2>De quelles couleurs sont les feuilles des arbres ?</h2>

    <textarea name="response" id="" cols="100" rows="10"></textarea>

    <button>Voir la réponse</button>

{% endblock %}