{% extends 'base.html.twig' %}

{% block body %}
    {# cherchez a avoir le titre de la liste #}
    <h1>Liste sur TITRE LISTE</h1>

    <a href="{{ path('newCards_page') }}">Ajouter des questions</a>
    <h2>{{ mycard[0].question | capitalize }}</h2>

    <textarea name="response" id="" cols="100" rows="10"></textarea>
        <select name="categorie" >
            <option value="">--Choisir une catégorie--</option>
            <option value="Facile">Facile</option>
            <option value="Moyen">Moyen</option>
            <option value="Difficile">Difficile</option>
        </select>

{% endblock %}