{% extends 'base.html.twig' %}

{% block body %}

    <a href="#"><h2>Ajouter cette liste</h2></a>

    <h3>De quelles couleurs est ...?</h3>

    <h3>De quelles couleurs est ...?</h3>

    <h3>De quelles couleurs est ...?</h3>

    <h3>De quelles couleurs est ...?</h3>

{% endblock %}